<nav class="navbar">

  <div class="site-title">
    <a href="/blogs">
      <h1>Ninja Blog 🥷</h1>
    </a>
    <p>Sharing knowledge & ideas</p>
  </div>

  <ul class="nav-links">

    <li><a href="/blogs">Home</a></li>

    <li><a href="/about">About</a></li>

    <li><a href="/blogs/create" class="btn">New Article</a></li>
    
    <li> <button id="theme-toggle">
  🌙
</button></li>
  </ul>

</nav>