<nav>
      <div class="site-title">
        <a href="/"><h1>ninja</h1></a>
        <p>a learning site</p>
      </div>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New blog</a></li>
      </ul>
    </nav>