<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head.ejs')  %>
  <title>404 | <%= title%></title>
</head>
<body>

  <h1>404 - Page Not Found</h1>
  <p>Sorry Amine 😅, the page you are looking for does not exist.</p>
    <%- include('./partials/nav.ejs')  %>
    <div class="blog-content">
        <h2>All Blogs</h2>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>